body {
  background: #f6f6f6;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
  &.modal-open {
    overflow: hidden;
  }
}
